<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: rgb(0, 0, 0) !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AuxMec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="isMechanicWorkShop">
                    <a class="nav-link active" aria-current="page" href="/registerMechanicShop">Registrar Taller</a>
                </li>
                <li class="nav-item" *ngIf="isMechanicWorkShop">
                    <a class="nav-link active" aria-current="page" href="/registerCategory">Registrar Categorias</a>
                </li>
                <li class="nav-item" *ngIf="isMechanicWorkShop">
                    <a class="nav-link active" aria-current="page" href="/registerMechanic">Registrar Mecanico</a>
                </li>
                <li class="nav-item" *ngIf="isClient">
                    <a class="nav-link active" aria-current="page" href="/maps">Solicitar Asistencia Tecnica</a>
                </li>
                <li class="nav-item" *ngIf="isClient">
                    <a class="nav-link active" aria-current="page" href="/showApplications">Ver Applicaciones</a>
                </li>
                <li class="nav-item" *ngIf="isMechanic">
                    <a class="nav-link active" aria-current="page" href="/registerApplications">Registrar Aplicacion</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-dark" type="submit" (click)="logout()">LogOut</button>
            </form>
        </div>
    </div>
</nav>